* {
    background-color: #222222;
    main-color: #3C91B7;
    transparent-main-color: #3C91B733;
    darker-main-color: #2B5C71;
    pressed-main-color: #0070A0;
    brighter-main-color: #3CA0B7;
    text-color: white;
    prompt-text-color: gray;
}

.root {
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 16px;
    -fx-background: background-color;
    -fx-control-inner-background: background-color;
    -fx-accent: main-color;
    -fx-default-button: main-color;
    -fx-focus-color: main-color;
    -fx-faint-focus-color: transparent-main-color;
    -fx-margin: 0;
    -fx-overflow: hidden;
    -fx-padding: 0;
}

.text-field {
    -fx-text-fill: text-color;
    -fx-prompt-text-fill: prompt-text-color;
    -fx-background-color: background-color;
    -fx-border-color: main-color;
    -fx-faint-focus-color: transparent;
}

.text-area {
    -fx-text-fill: text-color;
    -fx-prompt-text-fill: prompt-text-color;
    -fx-background-color: background-color;
    -fx-border-color: main-color;
    -fx-border-width: 4px;
    -fx-faint-focus-color: transparent;
}

.button {
    -fx-text-fill: text-color;
    -fx-prompt-text-fill: prompt-text-color;
    -fx-background-color: main-color;
    -fx-faint-focus-color: transparent;
}

.button:hover {
    -fx-background-color: brighter-main-color;
}

.button:pressed {
    -fx-background-color: pressed-main-color;
}

.combo-box {
    -fx-text-fill: text-color;
    -fx-font-size: 30px;
    -fx-prompt-text-fill: prompt-text-color;
    -fx-background-color: background-color;
    -fx-border-color: darker-finservice-color;
    -fx-border-width: 4px;
    -fx-faint-focus-color: transparent;
}

.combo-box .list-cell {
    -fx-background-color: finservice-color;
    -fx-text-fill: text-color;
}

.combo-box .arrow-button {
    -fx-background-color: finservice-color;
}

.combo-box .arrow {
    -fx-background-color: text-color;
}

/* Theme not used from here */

.slider .axis {
    -fx-tick-label-fill: #39FF14;
    -fx-tick-label-font-size: 12px;
}

.slider .axis .axis-tick-mark {
    -fx-stroke: #39FF14;
}

.slider .axis .axis-minor-tick-mark {
    -fx-stroke: #39FF1433;
}

.slider .thumb {
    -fx-focus-color: #39FF14;
    -fx-faint-focus-color: #39FF1433;
    -fx-pref-height: 30px;
    -fx-pref-width: 15px;
}